@import url('https://fonts.googleapis.com/css2?family=REM:wght@500&family=Roboto:wght@300&display=swap');


body {
    background-color: #222222;
    color: white;
    max-width: 900px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo {
    flex-direction: column;
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #9B06CE;
    transition: 0.3s all;
}

#enter-account {
    border: 2px solid #9B06CE;
    padding: 10px;
    border-radius: 15px;
}

#enter-account:hover {
    background-color: #9B06CE;
    color: white;
}

li {
    display: inline-block;
    list-style: none;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 20px;
}

h2 {
    line-height: 10px;
    font-size: 1.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#subscribe-now {
    color: #9B06CE;
}

p {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

input {
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
}

#submit-btn {
    background-color: #9B06CE;
    color: white;
    width: 70%;
}

#submit-btn:hover {
    background-color: transparent;
    color: #9B06CE;
    border: 2px solid #9B06CE;
    transition: 0.3s all;
    cursor: pointer;
}

img {
    width: 500px;
}

@media screen and (max-width: 847px) {
header {
    flex-direction: column;
}

main {
    padding-top: 0;
    margin-top: 0;
    flex-direction: column;
}

form {
    width: 100%;
    margin: 0 auto;
}

input {
    align-self: center;
}

img {
    display: none;
}

}